body {
  margin: 0px;
  padding: 0px;
  background: lightgrey;
}

.dark-overlay {
  background: black;
  opacity: 0.96;
}

.header {
  position: relative;
  width: 100%;
  height: 350px;
}

.header-img {
  width: 100%;
  height: inherit;
  border-radius: 10px;
}

.fas {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: white;
}

.feedback {
  position: absolute;
  top: 56px;
  left: 17px;
  display: none;
}

input[type="checkbox"] {
  zoom: 2;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  box-shadow: 1px 1px 1px #333;
}

.buttons {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 8px;
  right: 8px;
}

.edit-btn {
  color: lightblue;
}

.edit-btn:hover {
  color: darkblue;
}

.delete-btn {
  color: lightcoral;
}

.delete-btn:hover {
  color: red;
}

.item-icon {
  font-size: 32px;
  cursor: pointer;
}

#date {
  position: absolute;
  bottom: 90%;

  left: -160px;

  color: white;
  font-size: 50px;
  cursor: pointer;
}

#time {

  color: white;
  font-size: 90px;
  cursor: pointer;
}

.showItem {
  display: block;
}

#completed h4 {
  text-decoration: line-through;
}

#todo:empty:after {
  margin: 15px 0 15px -12px;
  content: "You have no any task todo!";
}

#completed:empty:after {
  content: "You have yet to complete any task!";
  margin: 15px 0 10px -5px;
}

#todo:after,
#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #333;
}